@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

@model OnlineEducationWebApp.Data.Entities.Document

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Document</title>
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h2>Create Document</h2>
        <form method="post" action="@Url.Action("Create", "Document")" enctype="multipart/form-data">
            <input type="hidden" name="LessonId" value="@Model.LessonId" />
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" class="form-control" id="OriginalFileName" name="OriginalFileName" required>
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <input type="text" class="form-control" id="Description" name="Description" required>
            </div>
            <div class="form-group">
                <label for="PdfFile">Select File</label>
                <input type="file" class="form-control" id="PdfFile" name="PdfFile" required>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</body>
</html>
