@{
    ViewData["Title"] = "GetForTeacher";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

@model IEnumerable<OnlineEducationWebApp.Data.Entities.Lesson>

<center>
    <h2>All Lessons</h2>
    <button class="btn btn-primary mb-3" onclick="window.location.href='@Url.Action("Create", "Lesson")'">Add Lesson</button>
</center>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ders</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lesson in Model)
        {
            <tr>
                <td>@lesson.Name</td>
                <td>
                    <a class="btn btn-warning" asp-controller="Document" asp-action="GetForLesson" asp-route-id="lesson.Id">Ders belgeleri</a>
                    <a class="btn btn-danger" asp-controller="Student" asp-action="GetStudentForLesson" asp-route-id="lesson.Id">Dersin öğrencileri</a>
                    <button class="btn btn-danger" onclick="confirmDelete(@lesson.Id)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/jquery/jquery.min.js"></script>
<script src="~/sweetalert2/sweetalert2.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>
    function confirmDelete(id) {
        Swal.fire({
            title: 'Emin misiniz?',
            text: 'Bu dersi silmek istiyor musunuz?',
            icon: 'warning',
            showDenyButton: true,
            confirmButtonText: 'Evet',
            denyButtonText: 'Hayır'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/lessons/delete/' + id,
                    type: 'DELETE',
                    success: function (response) {
                    }
                });
            } else if (result.isDenied) {
                Swal.fire("İptal Edildi", "Silme işlemi iptal edildi", "info");
            }
        });
    }
</script>

