@using OnlineEducationWebApp.Data.Entities
@model IEnumerable<Lesson>
@{
    ViewData["Title"] = "GetForStudent";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<center>
    <h2>Tüm dersler</h2>
</center>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Adı</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lesson in Model)
        {
            <tr>
                <td>@lesson.Name</td>
                <td>
                    <a class="btn btn-success" asp-controller="StudentLesson" asp-action="SubscribeToLesson" asp-route-id="@lesson.Id">Derse kayıt ol</a>
                </td>
            </tr>
        }
    </tbody>
</table>
