html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    overflow-x: hidden;
}

#sidebar {
    min-height: 100vh;
    width: 250px;
    position: fixed;
}

#page-content-wrapper {
    padding-left: 250px;
}

#wrapper.toggled #sidebar {
    margin-left: -250px;
}

#wrapper.toggled #page-content-wrapper {
    padding-left: 0;
}