@using Microsoft.IdentityModel.JsonWebTokens
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Layout</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineEducationWebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Online Education</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav flex-grow-1 w-100 justify-content-evenly">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="@Url.Action("GetAll", "Lesson")">Tüm dersler</a>
                </li>
                @{
                    if(User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Lesson" asp-action="MyLessons">Derslerim</a>
                        </li>
                    }
                }
                <li class="nav-item">
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SignOut">Çıkış</a>
                        }
                        else
                        {
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SignIn">Giriş</a>
                        }
                    }
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
